<div class="container">
  <div class="title">
    <h1>Please upload a file</h1>
  </div>
  <div class="file-choose">
    <label for="file">Choose File</label>
    <input type="file" name="file" id="file" (change)="fileChanged($event)">
  </div>
  <div>
    <app-table [data]="province" title="Department" *ngIf="charge"></app-table>
    <app-table [data]="department" title="Province" *ngIf="charge"></app-table>
    <app-table [data]="district" title="District" *ngIf="charge"></app-table>
  </div>
</div>
