/*@todo Move to external file*/
$blue: #0074d9;
$navy: #001f3f;
$white: #ffffff;
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.content {
	max-width: 50%;
}
.file-choose {
	background: $white;
	border-radius: 3px;
	border: dotted 3px $navy;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px;
	width: 60%;
}
label {
	background-color: $navy;
	border: none;
	border-radius: 5px;
	color: $white;
	cursor: pointer;
	height: auto;
	margin: 0;
	max-width: 50%;
	padding: 10px;
	text-align: center;
	width: auto;
	-webkit-border-radius: 5px;
	-webkit-transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-ms-transition: 0.2s ease all;
	-o-transition: 0.2s ease all;
	transition: 0.2s ease all;
}
label:hover {
	background: $blue;
}
[type="file"] {
	display: none;
}
.title {
	color: $navy;
	text-align: center;
}
#toast-container > div {
	opacity: 1;
}
