<h1>{{title}}</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Cod </th>
    <td mat-cell *matCellDef="let data"> {{data.cod}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let data"> {{data.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="father">
    <th mat-header-cell *matHeaderCellDef> Father </th>
    <td mat-cell *matCellDef="let data"> {{data.father}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="fathername">
    <th mat-header-cell *matHeaderCellDef> Father name </th>
    <td mat-cell *matCellDef="let data"> {{data.fatherDescription}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
